---
import Layout from "@/layouts/Layout.astro";
---

<Layout title={`404: I'm feeling like`}>
  <h1 class="color-red-700 text-5xl fw-700">ERROR 404</h1>
  <p>&quot;<span id="quote" class="italic"></span>&quot; - <span id="person"></span></p>

  <button class="m-8 py-1 px-6 rd bg-red-700 text-black transition-all hover:scale-[1.2] hover:rotate-4" onclick="window.history.back()">Go Back</button>
</Layout>

<script>
import quotesData from "@/assets/quoting.json";

interface Quote {
  quote: string;
  person: string;
  emoji: string;
}
function getRandomQuote(): Quote {
  return {
    quote: quotesData.quotes[Math.floor(Math.random() * quotesData.quotes.length)],
    person: quotesData.people[Math.floor(Math.random() * quotesData.people.length)],
    emoji: quotesData.emojis[Math.floor(Math.random() * quotesData.emojis.length)],
  };
}

let { quote, person, emoji }: Quote = getRandomQuote();

document.title = `404: I'm feeling like ${emoji}`;
document.getElementById("quote")!.innerHTML = quote;
document.getElementById("person")!.innerHTML = person;
</script>
