---
import quotesData from "@/assets/quoting.json";
import Layout from "@/layouts/Layout.astro";

interface Quote {
  quote: string;
  person: string;
  emoji: string;
}

let genQuote: Quote | null = {
  quote: quotesData.quotes[Math.floor(Math.random() * quotesData.quotes.length)],
  person: quotesData.people[Math.floor(Math.random() * quotesData.people.length)],
  emoji: quotesData.emojis[Math.floor(Math.random() * quotesData["emojis"].length)],
};

let { quote, person, emoji } = genQuote;
---

<Layout title={`I'm feeling like ${emoji}`}>
  <h1 class="color-red-700 text-5xl fw-700">ERROR 404</h1>
  <p><span class="italic">&quot;{quote}&quot;</span> - {person}</p>

  <button class="m-8 py-1 px-6 rd bg-red-700 text-black transition-all hover:scale-[1.2] hover:rotate-4" onclick="window.history.back()">Go Back</button>
</Layout>
