---
import Layout from "@/layouts/Layout.astro";
---

<Layout title={`I'm feeling like`}>
  <h1 class="color-red-700 text-5xl fw-700">ERROR 404</h1>
  <p>&quot;<span id="quote" class="italic"></span>&quot; - <span id="person"></span></p>

  <button class="m-8 py-1 px-6 rd bg-red-700 text-black transition-all hover:scale-[1.2] hover:rotate-4" onclick="window.history.back()">Go Back</button>
</Layout>

<script>
  try {
    const response = await fetch("https://cutequote.onrender.com/");
    var data = await response.json();
  } catch (error) {
    console.log(error);
  }

  let { quote, person, emoji } = data;

  document.title = `I'm feeling like ${emoji}`
  document.getElementById("quote")!.innerHTML = quote;
  document.getElementById("person")!.innerHTML = person;
</script>
