---
import { Tooltips } from "astro-tooltips";
import Layout from '@/layouts/Layout.astro';
---

<Layout title="loooook hes talkin bout meeee">
  <Tooltips interactive={false} delay={[15, 15]} placement="top" />

  <section class="w-full max-w-200 pt-16">
    <h1 id="title" class="text-5xl fw-800 mb-8">#me</h1>

    <button id="serious-button" class="btn mb-4 underline color-white fw-400 text-sm"></button>

    <p id="playful" class="line-height-7" style="display: none">
      <span class="rainbow">Heyyyyyy</span>, I'm <strong>André</strong> but you can just call me <strong>Pato</strong> (or <strong>Duck</strong>).
      I'm not your average developer – I'm a <i>fullstack maestro from the vibrant land of 🇧🇷 Brazil</i> (im not a designer im all about coding).
      <br>
      I may have a thing or two for crafting cool stuff, tackling challenges, and throwing in a dash of humor into my projects – even though they almost never work, you can see the
      <a href="/notarealpage" class="underline color-blue-500">404 page</a> lol.
      <br>
      <br>
      Even when I'm not lost in lines of code, I'm on a perpetual journey of learning and exploring new things. Learning is not just a checkbox for me;
      it's my hobby, and the fuel that keeps me going
      <br>
      <br>
      me be born in July 7th, 2006 😎 me want gifts on me bday 🎂
      <br>
      <br>
      im down on doing any project related to coding, i am always ready to learn new things 🤓 just hit me up on any of my socials
    </p>

    <p id="serious" class="line-height-7" style="display: none">
      Hello, my name is <strong>André Luis</strong> but everyone calls me <strong>Pato</strong> (or <strong>Duck</strong>).
      I am a <i>fullstack</i> developer with a focus on <b>back-end</b> development, hailing from Brazil 🇧🇷.
      <br />
      <br />
      Throughout my career, I have improved my problem-solving skills in the ever-evolving landscape of software development.
      Beyond technical proficiency, I bring a genuine enthusiasm for tackling challenges head-on and a commitment to continuous learning.
      I thrive in collaborative environments and am eager to contribute my skills to projects that demand creativity and efficiency.
      <br />
      <br />
      Born on July 7th, 2006, I offer not just a wealth of technical expertise but a dedication to excellence in software development.
      I am excited about the prospect of contributing to your team and am confident in my ability to make a meaningful impact.
      <br />
      <br />
      Feel free to reach out to me on any of my socials.
    </p>
  </section>

  <div class="mt-16 flex gap-2">
    <a href="mailto:andrescalisejr@gmail.com"><img class="rounded" src="https://img.shields.io/badge/-Gmail-%23cd3c2f?style=for-the-badge&logo=gmail&logoColor=white"></a>
    <a href="mailto:patommmmm@proton.me"><img class="rounded" src="https://img.shields.io/badge/-Proton%20Mail-%236d4aff?style=for-the-badge&logo=protonmail&logoColor=white"></a>
    <a href="https://www.instagram.com/patommmmmmmmmmmmmmm/"><img class="rounded" src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"></a>
  </div>

  <section class="w-full max-w-200 mt-16">
    <h1 class="text-5xl fw-800 mb-8">Other Information</h1>

    <p class="mb-4">I am continuously dedicated to learning new languages and new technologies, some tech that I know (including but not limited to):</p>

    <div class="flex justify-center flex-wrap gap-2 all:w-10 all:h-10 all:object-contain">
      <img title="Astro" alt="astro" src="/langs/astro.svg" />
      <img title="PHP" alt="php" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-plain.svg" />
      <img title="React" alt="react" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg" />
      <img title="Svelte" alt="svelte" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/svelte/svelte-original.svg" />
      <img title="UnoCSS" alt="unocss" src="/langs/unocss.svg" />

      <img title="Go" alt="go" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original.svg" />
      <img title="Rust" alt="rust" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rust/rust-plain.svg" class="invert" />
      <img title="Python" alt="python" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" />

      <img title="JavaScript" alt="js" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" />
      <img title="TypeScript" alt="ts" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg" />

      <img title="Firebase" alt="firebase" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/firebase/firebase-plain.svg" />
      <img title="MongoDB" alt="mongodb" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" />
      <img title="MySQL" alt="mysql" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" />

      <img title="C" alt="c" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" />
      <img title="C++" alt="cpp" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" />

      <img title="Docker" alt="docker" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-plain.svg" />
      <img title="Linux" alt="linux" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" />
      <img title="GML" alt="gml" src="/langs/gml.svg" class="invert" />
    </div>

    <p class="w-fit mx-auto mt-8 italic op-30">i use arch btw</p>
  </section>

  <section class="w-full max-w-200 mt-16 pb-16">
    <h1 class="text-5xl fw-800 mb-8">Languages</h1>

    <p>I'm proficient in <b>Portuguese</b> (🇧🇷) and <b>English</b> (🇺🇸), and I'm currently learning <b>Russian</b> (🇷🇺).</p>
  </section>
</Layout>

<script>
  const seriousButton: any = document.getElementById('serious-button');
  let serious: any = false;

  const title: any = document.getElementById('title');
  const playfulText: any = document.getElementById('playful');
  const seriousText: any = document.getElementById('serious');

  function toggleSeriousness() {
    serious = !serious;

    if (serious) {
      seriousButton.innerHTML = 'make <span class="rainbow">playful</span> ®';

      seriousText.style.display = 'block';
      playfulText.style.display = 'none';

      title.innerHTML = 'About me';

      document.title = 'About me';
    } else {
      seriousButton.innerHTML = 'make serious ®';

      seriousText.style.display = 'none';
      playfulText.style.display = 'block';

      title.innerHTML = '#me';

      document.title = 'loooook hes talkin bout meeee';
    }
  }

  seriousButton.addEventListener('click', toggleSeriousness);
  toggleSeriousness();
</script>
