---
import Layout from '@/layouts/Layout.astro';
import Icon from 'astro-icon';
---

<Layout title="Hey!">
  <section class="select-none">
    <h1 class="text-5xl">Hey there!</h1>
    <p class="fw-300 mt-4">My name is <span class="fw-500 color-blue-500">André Luis</span> (aka <span class="fw-500 color-blue-500">devkcud</span>)</p>

    <ul class="border-t mt-16 pt-2 list-none flex gap-3 op-30 fw-200">
      <li>Student from Brazil</li>
      <li>·</li>
      <li>Fullstack Developer</li>
      <li>·</li>
      <li><span class="line-through italic">not</span> a Designer</li>
    </ul>
  </section>

  <section class="flex gap-4 mt-8">
    <a href="/about" class="flex items-center gap-2 border py-2 px-6 rounded transition ease hover:border-blue-500 hover:color-blue-500"><Icon name="ion:book" size={24} /> About Me</a>
    <a href="/projects" class="flex items-center gap-2 border py-2 px-6 rounded transition ease hover:border-blue-500 hover:color-blue-500"><Icon name="tabler:code" size={24} /> Projects</a>
  </section>
</Layout>
