---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hey!">
    <section class="select-none animate-fade-in">
    <h1 class="text-5xl">Hey there!</h1>
    <p class="fw-300 mt4">My name is <span class="fw-500 color-blue-500">André Luis</span> (aka <span class="fw-500 color-blue-500">devkcud</span>)</p>

    <ul class="border-t mt16 pt-2 list-none flex gap-3 op30 fw-200">
      <li>Student from Brazil</li>
      <li>·</li>
      <li>Fullstack Developer</li>
      <li>·</li>
      <li><span class="line-through italic">not</span> a Designer</li>
    </ul>
  </section>
</Layout>
