---
import Layout from "@/layouts/Layout.astro";
import Project from "@/components/Project.astro";

  const projects = [
    {
      name: "Portfolio",
      about: "This portfolio right here :)",
      langs: ["custom:Astro", "TypeScript", "custom:UnoCSS"],
      deploy: "https://devkcud.vercel.app/",
    },
    {
      name: "DuckOS",
      about: "Old portfolio designed to simulate an operating system.",
      langs: ["React", "TypeScript", "Sass"],
      deploy: "https://duckos.vercel.app/",
    },
    {
      name: "Storage System",
      about: "Fullstack application for managing a storage/inventory system.",
      langs: ["Svelte", "TypeScript", "Sass", "Go"],
    },
    {
      name: "Mutare",
      about: "Online markdown editor made for a school project.",
      langs: ["HTML5", "CSS3", "JavaScript"],
      deploy: "https://devkcud.github.io/mutare/",
    },
    {
      name: "Aeroporto ACAD",
      about: "Fullstack application for a school project in PHP.",
      langs: ["HTML5", "CSS3", "PHP"],
    },
    {
      name: "Kubic",
      about: "Logical cube game made for a school project.",
      langs: ["custom:GML"],
    },
    {
      name: "mk",
      about: "CLI tool used for generating files & folders; similar to the commands <code>mkdir</code> and <code>touch</code>.",
      langs: ["Go"],
    },
    {
      name: "dotfile-tool",
      about: "CLI tool used for managing dotfiles (config files in unix systems).",
      langs: ["Go"],
    },
    {
      name: "bakfile",
      about: "A Makefile alternative.",
      langs: ["Rust-plain"],
    },
    {
      name: "htodo",
      about: "Todo list manager for terminal.",
      langs: ["Rust-plain"],
    },
    {
      name: "cutequote",
      about: 'The provider of """funny""" quotes on the 404 page you can see.',
      langs: ["Go"],
      deploy: "https://cutequote.onrender.com/",
    },
  ];
---


<Layout title="Projects">
  <h1 class="text-5xl fw-800 mt-8">My Projects</h1>

  <section class="w-full grid grid-cols-[repeat(auto-fit,minmax(500px,1fr))] justify-center gap-6 mx-16 my-16">
    {projects.map(project => (
      <Project name={project.name} about={project.about} langs={project.langs} deploy={project.deploy} />
    ))}
  </section>

  <p class="italic op-30">Explore more on my <a href="https://github.com/devkcud" class="color-blue-500 underline not-italic">GitHub</a>...</p>
</Layout>
