---
import Icon from 'astro-icon';
import BaseHead from '@/components/BaseHead.astro';

import '@/styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <a href="https://github.com/devkcud/portfolio" class="flex justify-center transform-origin-l bg-white fixed w-40 pt-14 -top-24 -right-22 rotate-45 p4">
      <Icon pack="mdi" name="github" class="w-10 h-10 color-black" />
    </a>

    <main class="h-screen p-2 flex flex-col item-center justify-center flex-items-center animate-fade-in">
      <slot />
    </main>
  </body>
</html>
