---
import Icon from 'astro-icon';
import BaseHead from '@/components/BaseHead.astro';

import '@/styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <a href="https://github.com/devkcud/portfolio" class="flex justify-center transform-origin-l bg-white fixed w-80 pt-24 -top-46 -right-50 rotate-45 p-4 transition ease hover:-translate-x-4 hover:translate-y-4">
      <Icon name="mdi:github" size={40} class="color-black" />
    </a>

    <a href="/" class="fixed top-2 left-2 op-30 transition ease hover:op-100 hover:color-blue-500"><Icon name="ic:round-home" size={40} /></a>

    <main class="min-h-screen p-2 flex flex-col item-center justify-center animate-fade-in">
      <slot />
    </main>
  </body>
</html>
